<div class="col text-center p-4">
    <div class="row"><h2>{{ name }}</h2></div>

    <div class="row">
        <div class="col">
            <section>
                <!-- <div class="row">Humidity: {{ humidity }}</div>
                <div class="row">Temperature (avg): {{ tempAvg }}</div>
                <div class="row">Temperature (hi): {{ tempHi }}</div>
                <div class="row">Temperature (lo): {{ tempLo }}</div>
                <div class="row">Status: {{ status }}</div> -->
            </section>
        </div>
        <div class="col">
            <img src="" alt="">
        </div>
    </div>
</div>